<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--        http://www.springframework.org/schema/context-->
    <!--        http://www.springframework.org/schema/context/spring-context.xsd-->
    <!--        http://www.springframework.org/schema/aop-->
    <!--        http://www.springframework.org/schema/aop/spring-aop.xsd-->
    <!-- xmlns:context="http://www.springframework.org/schema/context"-->
    <!-- xmlns:aop="http://www.springframework.org/schema/aop" -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--name 就是get什么东西的后面的字段-->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/maven?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="admin"/>
    </bean>
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--name 就是get什么东西的后面的字段-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/maven?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="admin"/>
    </bean>


</beans>